doctype
html
  include head
  body
    .container
      .alert.alert-danger
        h4
          p
            strong Error: #{status}
            |  The
            b  #{url}
            |  page does not exist.
        p You be' lookin' in the wrong place.